[submodule "evercam-api"]
        path = evercam-api
        url = https://github.com/eugenehp/evercam-api.git
[submodule "evercam-dashboard"]
        path = evercam-dashboard
        url = https://github.com/evercam/evercam-dashboard.git
[submodule "evercam-models"]
        path = evercam-models
        url = https://github.com/evercam/evercam-models.git
[submodule "evercam-ruby"]
        path = evercam-ruby
        url = https://github.com/evercam/evercam-ruby.git
[submodule "evercam-media"]
        path = evercam-media
        url = https://github.com/eugenehp/evercam-media.git
